.headerdiv{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  height: 200px;
  background-color:black;
  color:silver;
  font:solid 30px verdana;
  font-style: italic;
  font-size: 30px;
}
.navdiv,.main_content{
  float:left;
}
.main_content{
  width:80%;
  background-color: #ccffe0;
  font-style: italic;
  height:650px;
}
.navdiv{
  width:20%;
  text-align: center;
  background-color: #d2d2d2;
    height:650px;
    background-color: #6dffa6;
}
.navdiv li{
  text-decoration: none;
  list-style-type: none;
}
.footerdiv{
  text-align: center;
  background-color: #0eaccc;
  font-weight: bold;
  font-style: italic ;

}
.title h1{
  padding-left: 2px;
  font:solid 16px verdana;
}
.date span{
    padding-left: 5px;
    font:normal 18px verdana;
}
.Content p{
    padding-left: 5px;
    font:normal 16px verdana;
}